*{margin: 0; padding: 0;}
    :root{
        --font1: 'Oswald', sans-serif;
        --size1:40px;
        --lineheight:59px;
        --font2: 'Amiri', serif;
        --size2:17px;
        --color2:#666;
        --size3:22px;
    }
    body{
        font-family: 'Amiri', sans-serif;
        text-align: left;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    }
    .banner_top{ 
        background: url(belton.jpg) top center;
        height: 600px;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
    } 
    .banner_top:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        background-image: -webkit-linear-gradient(left,#00000082 0%, rgb(0 0 0 / 18%), #00000069 100% );
    }
    .banner_top ._3cot{ 
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
    } 
    .banner_top ._3cot ._1cot{ 
        width: 33.33%;
    } 
    .banner_top ._3cot ._1cot.cottrai{
        margin-right: 20px;
        display: block;
     } 
    .banner_top ._3cot ._1cot.cottrai a{
        font-size: 20px;
        color: white;
        padding: 40px 50px ;
        display: inline-block;
     } 
     .banner_top ._3cot ._1cot.cottrai a:hover{
        color: blue;
    }
    .banner_top ._3cot ._1cot.cotgiua{
        text-align: center;  
       
    } 
    .banner_top ._3cot ._1cot.cotgiua img{
        height: 30px;
        padding-top: 30px;


        
     } 
     .banner_top ._3cot ._1cot.cotphai{
         padding: 20px 40px;
         text-align: right;
     }
    .banner_top ._3cot ._1cot.cotphai a{
        color: white;
        font-size: 17px;
        padding: 15px 5px;
        display: inline-block;
     } 
     .banner_top .text_banner{
         width: 100%;
         position: absolute;
         top: 30%;
         color: white;
     }
     .banner_top .text_banner .content{
            width: 900px;
            margin: 100px 200px;
     }
     .banner_top .text_banner .content h6{
         font-family: var(--font1);
         font-size: var(--size1);
         line-height: var(--lineheight);
         color: white;
         width: 62%;
         margin-top: 20px;
     }
     .banner_top .text_banner .content .small{
         font-size: 20px;
     }
     .content1{
         width: 1170px;
        margin: auto;
         display: flex;
         font-family: var(--font2);
         font-size: var(--size2);
        color: var(--color2);
        padding: 80px 0px 80px 0px;
margin-bottom: 20px;


     }
     .content1 .left{
         width: 35%;
         /* margin-top: 100px; */
         
     }
     .content1 .left h3{
         margin-top: 20px;
         font-size: 19px;
         line-height: 30px;
         font-weight: 400;
         color: #666;
     }
     .content1 .left .bigtext{
         font-family: var(--font1);
         font-size: var(--size3);
         width: 65%;
         margin-top: 10px;
         color: #2b2b2b;
         font-weight: 800;
     }
     .content1 .right{
         width: 65%;
         
         font-size: 20px;
     }
     .content1 .right p{
         margin-top: 25px;
         line-height: 25px;
     }

     .chuvahinh{
     
         
         position: relative;
         width: 100%;
         height: 1477px;
         background-color: #040404;
         

         

     }
     .chuvahinh .content {
        margin-bottom: 20px;
        
         text-align: center;
        
        padding: 100px 0px 0px 0px;
     }
    .chuvahinh .content h2{
         font-family: var(--font1);
         color: white;
         font-size: 36px;
     }
     

       
    
     .chuvahinh ._4hinh{
        flex-wrap: wrap;     
        display: flex;
        /* margin-left: 189.5px; */
        align-items: center;
         justify-content: center;
        

     }
     .chuvahinh ._4hinh ._1hinh{
        width: 540px;
        height: 540px;
          position: relative; 
         padding: 15px;
         
         font-size: 28px;




     }
     .chuvahinh ._4hinh ._1hinh .hinh01 img{ 
        width: 540px;
        height: 540px;
        
     }
   .chuvahinh ._4hinh ._1hinh .hinh01 {   
    /* position: absolute; */
    width: 100%;
    height: 100%;
        background-size: cover;
      transition: 0.4s;
      
      
        
        
    }
    .chuvahinh ._4hinh ._1hinh .mauxam {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     left: 0;
     top: 0;  
     
     position: absolute; 
     box-sizing: border-box;
     opacity: 0;
     transition: 0.5s;
     
    }
    .chuvahinh ._4hinh ._1hinh:hover .mauxam {
        opacity: 1;
        
    }

      .chuvahinh ._4hinh ._1hinh .chuto{
        
         position: absolute;
         font-weight: 800;
         top: 252.5px;
         left: 30px; 
         letter-spacing: 1px;
         opacity: 0;
         transition: 0.4s;
         font-family: var(--font1);
        
     }
     .chuvahinh ._4hinh ._1hinh .chuto a{
        
        text-decoration: none;
        color: #fff;
     }
    
      .chuvahinh ._4hinh ._1hinh .chunho {
        text-decoration: none;
        font-size: 17px;
        color: white;
         opacity: 0;
         transition: 0.6s;
         
         
         position: absolute;
         
         font-weight: 500;
         top: 302.5px;
         left: 30px; 
         font-family: var(--font2);

     }
     
      .chuvahinh ._4hinh ._1hinh:hover .chunho {
        
        transform: translate3d(0, -10px, 0);
           
         opacity: 1; 
         transition: 0.4s;          
     }
      .chuvahinh ._4hinh ._1hinh:hover .chuto {
        
        transform: translate3d(0, -5px, 0);
             
         opacity: 1;   
         transition: 0.4s;    
     }
     .viewall{
        width: 100%;
         

     }
    
     .viewall {
         width: 100%;
         text-align: center;
         align-items: center;
         box-sizing: border-box;
     }
     .viewall  a {
         font-family: var(--font2);
         margin-bottom: 1rem;
         font-size: 17px;
         text-decoration: none;
         color: white;
     }
       .viewall a >.fa
     {font-size: 20px;
         transition: 0.5s;
         padding-right: 15px;
        }
     
    
     
     .viewall:hover  a .fa{
         
         position: relative;
         transform: translate3d(10px, 0, 0);
     }

.footer{
    width: 1110px;
        margin: auto;
        
    height: 445px;
    padding: 80px 0;
    
    
}
     .footer .logo{
        display: flex;
        padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
width: 100%;
        
height: 153px;
     }
     .footer .logo img{
         width: 15%;
         height: auto;
         
         
        margin: auto 2px;

     }
     .footer .logo .anh1+.anh4+.anh6{
        width: 153px;
        height: 107px;
    }
    .footer .logo .anh2+.anh3+.anh5{
width: 153px;
height: 153px;
    }
    .footer .clients{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-right: -15px;
        margin-left: -15px; */
        
        padding: 100px 0;
        width: 100%;
    }
    .footer .clients .trai{
        width: 25%;
        font-family: var(--font1);
        color: black;
        font-weight: bold;
        font-size: 36px;
    }
    .footer .clients .giua{
        width: 50%;
        color: var(--color2);
        font-family: var(--font2);
        font-size: 20px;
        
    }
    .footer .clients .phai{
        width: 25%;
        float: right;
        /* display: flex; */
        
            
    }
    .footer .clients .phai a{
         
         font-family: var(--font2);
         color: var(--color2);
         font-size: 17px;
         float: right;
         text-decoration: none;
        float: right;
        padding-right: 0px;
        
        justify-content: center;
        }
        .phai a >.fa
        {font-size: 20px;
            transition: 0.4s;
            padding-right: 15px;
            
           }  
        .phai:hover  a .fa{
            
            position: relative;
            transform: translate3d(10px, 0, 0);
        }
    html{
        width: 100%;
    }
    
  

    